<h3>{{title}}</h3>
<p>Subscriptions: {{results.length}}</p>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Entries</th>
      <th>AuthorID</th>
      <th>DisplayName</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
    <tr>
      <td>
        <form method="Get" action="/admin/authors/{{authorId}}">
          <button type="submit" class="btn btn-info btn-xs" value="Entries">
            Entries
          </button>
        </form>
      </td>
      <td>{{authorId}}</td>
      <td>{{displayName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>