<h3>{{title}}</h3>
<p>Users: {{results.usersCount}}</p>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Joined</th>
      <th>Last Login</th>
    </tr>
  </thead>
  <tbody>
    {{#each results.users}}
    <tr>
      <td><a href="/admin/user/{{_id}}">{{_id}}</a></td>
      <td>{{email}}</td>
      <td>{{role}}</td>
      <td>{{joined}}</td>
      <td>{{lastLogin}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>