<h3>{{title}}</h3>
<p>Users: {{results.usersCount}}</p>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Subscriptions</th>
      <th>Feed</th>
      <th>RSS</th>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Joined</th>
      <th>Last Login</th>
    </tr>
  </thead>
  <tbody>
    {{#each results.users}}
    <tr>
      <td>
        <form method="Get" action="/admin/user/{{_id}}">
          <button type="submit" class="btn btn-info btn-xs" value="Subscriptions">
            Subscriptions
          </button>
        </form>
      </td>
      <td>
        <form method="Get" action="/admin/user/{{_id}}/feed">
          <button type="submit" class="btn btn-info btn-xs" value="Feed">
            Feed
          </button>
        </form>
      </td>
      <td>
        <form method="Get" action="/api/v1/user/{{_id}}/rss">
          <button type="submit" class="btn btn-info btn-xs" value="RSS">
            RSS
          </button>
        </form>
      </td>
      <td>{{_id}}</td>
      <td>{{email}}</td>
      <td>{{role}}</td>
      <td>{{joined}}</td>
      <td>{{lastLogin}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>