<h3>{{title}}</h3>
<p>Count: {{count}}</p>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Entries</th>
      <th>DisplayName</th>
    </tr>
  </thead>
  <tbody>
    {{#each authors}}
    <tr>
      <td>{{id}}</td>
      <td>
        <form method="Get" action="/admin/authors/{{id}}">
          <button type="submit" class="btn btn-info btn-xs" value="Entries">
            Entries
          </button>
        </form>
      </td>
      <td>{{displayName}}</td>
    {{/each}}
  </tbody>
</table>