<table class="table">
<thead>
	<tr>
		<th>Delete</th>
		<th>Unsubscribe</th>
		<th>Topic</th>
		<th>Status</th>
		<th>Subtime</th>
		<th>Title</th>
	</tr>
</thead>
<tbody>
{{#each feeds}}
	<tr>
		<th>
			<form method="POST" action="/feed/{{_id}}" role="form">	
				<div class="form-group">
					<input type="hidden" name="_method" value="DELETE"/>
					<button type="submit" class="btn btn-danger btn-delete btn-small" value="Delete">Delete</button>
				</div>
			</form>	
		</th>
		<th>
			<form method="POST" action="/feed/{{_id}}" class="">
				<div class="form-group">
					<input type="hidden" name="_method" value="PUT"/>
					<button type="submit" class="btn btn-warning btn-unsubscribe btn-small" value="Unsubscribe">Unsubscribe</button>
				</div>
			</form>
		</th>
		<th><a href="/feed/{{_id}}">{{topic}}</a></th>
		<th>{{status}}</th>
		<th>{{unix_to_date subtime}}</th>
		<th>{{feeds.title}}</th>
	</tr>
{{/each}}
</tbody>
</table>