<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<div class="menu">
		<ul class="nav nav-pills">
			<li><a href="/">Home</a></li>
			<li><a href="/subscribe">Subscribe</a></li>
			<li><a href="/unsubscribed">Unsubscribed</a></li>
			<li><a href="/subscribed">Subscribed</a></li>
		</ul>
	</div>
	<div class="container-fluid">
		{{{body}}}
	</div>
</body>
</html>