<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<div class="menu">
		<ul class="nav nav-pills">
			<li><a href="/admin">Home</a></li>
			<li><a href="/subscribe">Subscribe</a></li>
			<li><a href="/unsubscribed">Unsubscribed</a></li>
			<li><a href="/subscribed">Subscribed</a></li>
			<li><a href="/pending">Pending</a></li>
		</ul>
	</div>
	<div class="container-fluid">
		{{#if error}}
			<div class="alert alert-danger">
				<p>{{error}}</p>
			</div>
		{{/if}}
		{{#if message}}
			<div class="alert alert-success">
				<p>{{message}}</p>
			</div>
		{{/if}}
		<div class="col-md-12">
			{{{body}}}
		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
