<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>
	<div class="menu">
		<ul class="nav nav-pills">
			<li><a href="/admin">Home</a></li>
			<li><a href="/subscribe">Subscribe</a></li>
			<li><a href="/unsubscribed">Unsubscribed</a></li>
			<li><a href="/subscribed">Subscribed</a></li>
			<li><a href="/pending">Pending</a></li>
		</ul>
	</div>
	<div class="container-fluid">
		<div class="col-md-12">
			{{{body}}}
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:4000');
		socket.on("message", function (data) {
			$("#msgbox").append(data.message+"<br>");
		});
	</script>
</body>
</html>