<h3>{{title}}</h3>
<table class="table table-condensed table-striped">
<thead>
	<tr>
		<th>Delete</th>
		<th>Unsubscribe</th>
		<th>Entries</th>
		<th>Topic</th>
		<th>Status</th>
		<th>Subtime</th>
		<th>Title</th>
	</tr>
</thead>
<tbody>
{{#each feeds}}
	<tr>
		<th>
			<form method="POST" action="/feed/{{_id}}" role="form">	
				<input type="hidden" name="_method" value="DELETE"/>
				<button type="submit" class="btn btn-danger btn-xs" value="Delete">Delete</button>
			</form>	
		</th>
		<th>
			<form method="POST" action="/unsubscribe/{{_id}}" class="">
				<input type="hidden" name="_method" value="PUT"/>
				<button type="submit" class="btn btn-warning btn-xs" value="Unsubscribe">Unsubscribe</button>
			</form>
		</th>
		<th>
			<form method="GET" action="/feed/{{_id}}">
				<button type="submit" class="btn btn-info btn-xs" value="Entries">Entries</button>
			</form>
		</th>
		<th><a href="{{topic}}">{{topic}}</a></th>
		<th>{{status}}</th>
		<th>{{unix_to_date subtime}}</th>
		<th>{{feeds.title}}</th>
	</tr>
{{/each}}
</tbody>
</table>