<h3>{{title}}</h3>
<p>Unsubscribed: {{unsubscribedCount}}</p>
<table class="table table-condensed table-striped">
<thead>
	<tr>
		<th>Delete</th>
		<th>Subscribe</th>
		<th>Entries</th>
		<th>Topic</th>
		<th>Status</th>
		<th>UnSubtime</th>
		<th>Title</th>
	</tr>
</thead>
<tbody>
{{#each feeds}}
	<tr>
		<td>
			<form method="POST" action="/admin/feed/{{_id}}" role="form">	
				<input type="hidden" name="_method" value="DELETE"/>
				<button type="submit" class="btn btn-danger btn-xs" value="Delete">
					Delete
				</button>
			</form>	
		</td>
		<td>
			<form method="POST" action="/admin/subscribe/{{_id}}" class="">
				<input type="hidden" name="_method" value="PUT"/>
				<button type="submit" class="btn btn-warning btn-xs" value="Subscribe">
					Subscribe
				</button>
			</form>
		</td>
		<td>
			<form method="GET" action="/admin/feed/{{_id}}">
				<button type="submit" class="btn btn-info btn-xs" value="Entries">
					Entries
				</button>
			</form>
		</td>
		<td><a href="{{topic}}">{{topic}}</a></td>
		<td>{{status}}</th>
		<td>{{unix_to_date unsubtime}}</td>
		<td>{{title}}</td>
	</tr>
{{/each}}
</tbody>
</table>